.formContainer{
    padding: 40px;
    background-color: rgb(69, 69, 69);
    border-radius: 20px;
    width: min(90%, 40.5rem);
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(0, 0, 0, 0.695);
}